/* Pour la mise en page générale
Permet d'indiquer comment sera en général la page web, pleine largeur,
avec un petit bandeau en haut de la page pour l'entête, le header
une grande partie pour le contenu de la page contenant diverses sections, le main
puis un petit bandeau en bas pour le pied de page, le footer
*/

/* Tous les éléments et pseudos-éléments sont ciblés
pour permettre ultérieurement d'utiliser de la marge interne, le padding, 
sans pour autant déformer l'élément auquel on applique le padding
( Par défaut, ajouter de la marge à l'intérieur d'un élément
l'étire vers l'extérieur, sur la hauteur et la largeur.
La propriété box-sizing à border-box, permet plutôt de "reserrer"
à l'intérieur ce qu'il contient.) */

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    min-height: 80px;
    background-color: red;
}

main  {
    width: 100%;
    min-height: 800px;
}

footer {
    width: 100%;
    min-height: 300px;
    background-color: black;
}
