/* Les sélecteurs CSS */


/********** cibler un élément html depuis le nom de sa balise *******/
h2 {
    color: red;
}
/* cela indique que tous les h2 sont écris de couleur rouge */



/*********** cibler un élément html depuis son nom de class *********/

.autre-couleur {
    color: blue;
}
/* permet d'indiquer que tous les éléments html
ayant le nom de class autre-couleur dont écrits en bleu  */



/*********** cibler un élément html depuis son identifiant *********/

#titre{
    color: green;
}

/* permet d'indiquer que l'élément ayant l'identifiant unique "titre" est écrit en vert */




/********************************************************************************************** 

Le fait de cibler un élément html par son nom de class
prend le dessus sur le fait de le cibler par le nom de la balise

Le fait de cibler un élément html par son identifiant
prend le dessus sur le  fait de la cibler par le nom de la balise ou le nom de class

**********************************************************************************************/



/* 
Le ciblage d'éléments spécifiques
*/

/******** cibler le premier élément html ayant la class box au sein d'une section  *********/
section .box:first-child {
    color: purple;
}

/******** cibler uniquement le deuxième élément html ayant la class box au sein d'une section  *********/
section .box:nth-child(2) {
    color: rgb(62, 92, 213);
}

/******** cibler le dernier élément html ayant la class box au sein d'une section  *********/
section .box:last-child {
    color: rgb(210, 204, 33);
}


/* 


Le ciblage avançé d'éléments

>
~
+





*/