/*
Pour le positionnemnet d'éléments avec les propriétés FLEXBOX

site web d'entrainement : 
https://flexboxfroggy.com/#fr
*/

/* 

Par défaut la direction du flex est horizontale, de gauche à droite

Les propriétés FLEXBOX doivent être appliquées à "l'élément html parent".
L'élément parent va donc automatiquement positionner ses éléments enfants,
les éléments qu'il contient.


Pour utiliser les propriétés FLEXBOX, il faut d'abord déclarer la propriété :
display: flex;

Puis utiliser des propriétés de justification
( Tout à gauche, au centre ou à droite)

et des propriétés d'alignements
( Tout en haut, au centre ou en bas)
*/


section {
    width: 100%;
    min-height: 400px;
    /* Pouvoir utiliser le positionnement avec FLEXBOX */
    display: flex;
    
    /* Pour justifier tous les éléments contenus dans la section au centre,
    toujours sur l'axe horizontal, de gauche à droite */
    justify-content: center;
    /* Pour justifier, le premier élément à gauche,
    les autres au milieu et le dernier à droite de l'écran */
    justify-content: space-between;
    /* Pour répartir uniformément l'espace entre tous les éléments */
    justify-content: space-evenly;

    /* Pour aligner les tous les éléments au centre mais dans le sens vertical,
    selon la hauteur de la section  */
    align-items: center;
    /* Pour aligner sur le haut de la section */
    align-items: flex-start;
    /* Pour aligner sur le bas de la section */
    align-items: flex-end;
}


/* 

Exemple avec
une section
(élément html parent)

contenant 3 div
( éléments html enfants)

Pour avoir les 3 div côte à côte,
que l'espace entre elles soient parfaitement réparti ( axe horizontal ),
le tout, aligné au milieu de la hauteur de la section ( axe vertical ) :

*/

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

/* 

La direction du flex, par défaut en ligne de gauche à droite, mais elle peut être changée.
flex-direction: row;

Pour l'inverser de droite à gauche ou même
de haut en bas ou de bas en haut, il faut ajouter les propriétés :

flex-direction: row-reverse;
flex-direction: column;
flex-direction: column-reverse;


Attention !!!
En changeant la direction du flex pour le gérer en column :

justify-content agira maintenant pour positionner les éléments de haut en bas.
align-itemps agira donc pour positionner les élements de gauche à droite.


Dans la section avec 3 div, pour positionner seulement
la div numéro 2 différemment des autres, 
on peut la cibler et lui ajouter :

justify-self: flex-end;
align-self: flex-start; 

*/

section.services {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section.services .box:nth-child(2) {
    align-self: flex-end;
}