/* Pour l'adaptation Tablette, Mobile, ... */

@media screen and (min-width: 900px) {
    article {
      padding: 1rem 3rem;
    }
}


@media screen and (min-width: 30em) and (max-width: 50em) {
    article {
        padding: 2rem;
      }
}


/* Nouvelle synthaxe */
@media (height > 600px) {
    body { line-height: 1.4; }
}
  
@media (400px <= width <= 700px) {
    body { line-height: 1.4; }
}
  

