/* Animation CSS 3

doc officielle
https://developer.mozilla.org/fr/docs/Web/CSS/animation
  
ease : Rapide sur le début et ralenti sur la fin.
linear : La vitesse est constante sur toute la durée de l'animation.
ease-in : Lent sur le début et accélère de plus en plus vers la fin.
ease-out : Rapide sur le début et décèlere sur la fin.
ease-in-out : Le départ et la fin sont lents.

infinite   

normal             
reverse : dans l'autre sens           
alternate : combiné  avec infinite permet d'animer dans un sens, puis dans l'autre, à l'infini...     
alternate-reverse    

*/

h1 {
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye {
    from {
        margin-left:-20%;
    }
    to {
        margin-left:100%;
    } 
}
@keyframes move_eye {
    from {
        margin-left:-20%;
    }
    to {
        margin-left:100%;
    } 
}



